<h1>Products Index</h1>
<%= link_to "Add new product!", "/products/new" %>

<% @products.each do |product| %>
  <ul>
    <li class='image_tab'>
      <%= link_to(image_tag("https://picsum.photos/200/200/?random"), "products/#{product.id}") %>
    </li>

    <li class='product_info'>
      <span class="product_name">
        <%= link_to "#{product.name}:", "/products/#{product.id}" %>
      </span>

      <span class="product_price">
        <%= product.price_in_dollars %>
      </span>
    </li>

    <li class='product_description'>
      <%= product.description %>
    </li>

  </ul>
<% end %>
