<h1><%= "#{@product.name.capitalize}" %></h1>

<p><%= link_to "Back to index", "/products" %></p>

<%=@product.name%> : <%=@product.price %>¢

<p><%= link_to "Edit", "/products/#{@product.id}/edit" %></p>
